!!! 5
%html
  %head
    %title ValidarIDE
    //%link(rel="stylesheet" type="text/css" href="stylesheets/foundation.css")
    //%link(rel="stylesheet" type="text/css" href="stylesheets/app.css")
    = css :application
    = js :application
  = yield
